global
    maxconn 100

defaults
    mode    http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

listen stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 5s

frontend http_in
    bind *:8080
    bind *:8443 ssl crt /usr/local/etc/haproxy/certs/server.pem
    
    http-request redirect location https://%[hdr(host),regsub(8080,8443)]%[url] code 301 if !{ ssl_fc }

    default_backend nginx_backend

backend nginx_backend
    balance roundrobin

    server web  web:80 check
    server web2 web2:80 check
    server web3 web3:80 check

